<html>
    <head>
        <title>JS's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>

        <div>
            <h1><a href="/">JS Blog trial</a></h1>
        </div>
    
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Ensi sijassa päästörajoitukset koskisivat rekkoja, mutta esityksen mukaan vuonna 2022 päästöstandardien piiriin ulotettaisiin myös kuorma-autot ja linja-autot.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Konkurssien määrä kavoi alkuvuonna 45,2 prosenttia vuoden takaisesta. </p>
        </div>
    </body>
</html>

